.security .section4 {
    padding: 5% 0%;
    background-color: var(--blue);
    color: white;
}
.security .section4 .wrapper {
    width: 90%;
    margin: auto;
}
.security .section4 .right {
    margin: 20px auto;
}
.security .section4 button {
    padding: 3%;
}
.security .section4 img {
    display: block;
    width: 100%;
    border-radius: 15px;
}

@media screen and (min-width: 992px) {
    .security .section4 .wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .security .section4 .right, .security .section4 .left {
        flex: 1;
    }
    .security .section4 .right {
        order: 1;
        padding-left: 5%;
    }
    .security .section4 img {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .security .section4 .wrapper {
        padding: 0px 5%;
    }
    .security .section4 h2 {
        display: inline-block;
        font-size: 2.5em;
        border-bottom: 4px solid var(--orange);
    }
    .security .section4 img {
        width: 90%;
    }
    .security .section4 p {
        width: 80%;
        font-size: 1.3em;
    }
    .security .section4 button {
        margin: 40px 0px;
        padding: 2%;
        font-size: 1.2em;
    }
}