.radiocom .section1 {
    padding: 5%;
    /* border: 1px solid blue; */
}
.radiocom .section1 .wrapper {
    width: 90%;
    margin: auto;
}
.radiocom .section1 .text {
    margin-bottom: 25px;
}
.radiocom .section1 .text button {
    padding: 2%;
    font-size: 1.3em;
}
.radiocom .section1 li {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.radiocom .section1 .descript {
    /* width: 80%;
    margin: auto; */
    text-align: center;
}

@media screen and (min-width: 992px) {
    .radiocom .section1 h2 {
        /* margin: 30px auto; */
        font-size: 2em;
        text-align: center;
    }
    
    .radiocom .section1 .text {
        display: flex;
        justify-content: space-between;
        margin: 50px auto;
        font-size: 1.2em;
    }
    .radiocom .section1 .text>div {
        width: 48%;
    }
    .radiocom .section1 .text div:nth-child(1) {
        order: 1;
    }
    
}








