.security .section3 {
    padding: 5% 0%;
}
.security .section3 .wrapper {
    width: 90%;
    margin: auto;
}
.security .section3 img {
    display: block;
    width: 100%;
    margin: 20px auto;
    border-radius: 15px;
}
.security .section3 .tl2 {
    display: none;
}
.security .section3 button {
    padding: 3%;
}

@media screen and (min-width: 992px) {
    .security .section3 .wrapper {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
    }
    .security .section3 .tl1 {
        display: none;
    }
    .security .section3 .tl2 {
        display: block;
    }
    .security .section3 .rigth {
        order: 1;
    }
    .security .section3 img {
        width: 80%;
        margin: auto;
    }
}

@media screen and (min-width: 1200px) {
    .security .section3 .wrapper {
        padding: 0px 5%;
        /* border: 1px solid #000; */
    }
    .security .section3 h2 {
        font-size: 2.5em;
    }
    .security .section3 h3 {
        font-size: 2em;
        width: 80%;
    }
    .security .section3 img {
        width: 90%;
    }
    .security .section3 p {
        width: 80%;
        font-size: 1.3em;
    }
    .security .section3 button {
        padding: 2%;
        font-size: 1.2em;
    }
}