.security .section1 {
    padding: 3% 0%;
}
.security .section1 .wrapper {
    width: 90%;
    margin: auto;
}
.security .section1 h2 {
    margin: 30px auto;
    font-size: 1.8em;
    text-align: center;
}

.security .section1 .wrapper p {
    margin: 10px auto;
    font-size: 1.3em;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .security .section1 h2 {
        margin: 40px auto;
        font-size: 2em;
    }
    .security .section1 .wrapper p {
        width: 70%;
        font-size: 1.2em;
    }
}