/* la sections testimonials */
.testimonials
{
    padding: 5% 0%;
    text-align: center;
    background-color: var(--soft-gray);
}
.testimonials .wrapper {
    width: 90%;
    margin: auto;
}
.testimonials p
{
    margin: 6% auto;
}
.testimonial-text
{
    width: 98%;
    font-size: 1.5em;
    font-weight: bold;
    font-style: italic;
    color: var(--black);
}
.client-name
{
    color: var(--black);
    font-weight: 500;
}
.image-container
{
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.testimonials img:hover {
    cursor: pointer;
}
.circle
{
    position: absolute;
    top: -5px;
    right: -5px;
    font-size: 0.8em;
    color: var(--orange);
}

@media screen and (min-width: 992px) {
    .testimonials h1 {
        font-size: 2.8em;
    }

    .testimonial-text
    {
        width: 98%;
        font-size: 2.5em;
        font-weight: bold;
        font-style: italic;
        color: var(--black);
    }
    .testimonials p
    {
        margin: 4% auto;
    }
}


@media screen and (min-width: 1200px) {
    .testimonials img {
        width: 100px;
    }
    .circle
    {
        top: -7px;
        right: -7px;
        font-size: 1.4em;
    }
}