.company-hero {
    background-image: url('./hero-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--white);
    border: 1px solid #000;
}
.company-hero .wrapper {
    padding: 5%;
    background-color: #002b45e5;
}
.company-hero .content {
    width: 90%;
    margin: 10vh auto;
    text-align: center;
}
.company-hero img {
    display: block;
    width: 90%;
    max-width: 500px;
    margin: auto;
}
.company-hero span {
    color: var(--orange);
}
.company-hero button {
    padding: 4%;
    font-size: 1.1em;
}
.company-hero .control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}
.company-hero .control .video {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
}

@media screen and (min-width: 992px) {
    .company-hero .content {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        text-align: left;
    }
    .company-hero .text {
        order: -1;
    }
    .company-hero .control {
        justify-content: flex-start;
    }
    
}

@media screen and (min-width: 1200px) {
    .company-hero .wrapper {
        padding: 3% 5%;
        background-color: #002b45e5;
    }
    .company-hero .text {
        flex-basis: 40%;
        /* border: 1px solid #000; */
    }
}